body{ 
    background: #F4C430;
    font-family: "Poppins", sans-serif; 
    color: #000000;
    margin: 36px;
}
h1  { font-weight: 600; } 
h1  { font-size: 60px; }
h1  { text-align: center; }
h1 {border: solid #000000 10px}
/* h1 {margin-top: 10px} */
h1 {padding-top: 25px}
#main-div{
    background: #F43409;
    width: 1048px;
    height: 38px;
}
/* hr{
    width: 90%;
    /* margin-left: 5%; */
/* } */ 